/* basic part */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: "IBM Plex Mono", monospace; 

}
 /* main item */

.hero-div{
    width: 100%;
    height: 100%;
}
.list-file{
    display:flex;
    gap: 35px;
    align-items: center;
    list-style-type: none;
    color:black;
    font-weight: 300px;
    padding-right: 90px;
    font-size: 18px;
}

.navbar{
    background-color:#C6FFE0;
    font-family: "IBM Plex Mono", monospace; 
   
}


.navdiv{
    display: flex;
    justify-content: space-between; 
}
/* headline */

.navhead h1 {
font-size: 30px;
padding-right: 120px;
}

/* list */


  


.header-button-1{
    background-color:#C6FFE0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    border: 2px dashed black;
    cursor: pointer;
}
.header-button-2{
    background-color:#13E5C0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 17px;
    border: #C6FFE0;
    cursor: pointer;
    
}

.main-header-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    color: black;
}
.button-flex{
    display: flex;
    font-family: "IBM Plex Mono", monospace;
}
.logo-text-logo{
    display: flex;
    height: aoto;
    width: 250px;
    font-family: "IBM Plex Mono", monospace;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    border: 2px dashed black;
    margin-top: 50px;
    margin-left: 120px;
    background-color: white;
    margin-top: 100px; 

  
}
.right-arrow-logo{

 color: #13E5C0;
 padding-left: 10px;
 padding-top: 5px;
}
.note-logo{
    padding-right: 10px;
    padding-top: 8px;
}
.h1-p-text h2{
    font-size: 73px;
    color: #19303D;
    margin-left: 120px;
    margin-top: 30px; 
}

.h1-p-text p{
    margin-left: 120px;
    margin-top: 20px;
}

.button-no-3 button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    border: 2px dashed black;
    font-family: "IBM Plex Mono", monospace;
    margin-left: 120px;
    background-color:#C6FFE0; 
    margin-top: 50px; 
    margin-bottom: 100px;
    cursor: pointer;
}
.second-main-div{
    background-color: #C6FFE0;
  padding-top: 40px;
    
}
.image-section-1 img{
    height: 385px;
    width: auto;
    border-radius: 20px;
    position: relative;
    left: 58%;
    top: -550px;
}

.logo-h3-p-01{
    text-align: center;
}

.logo-h3-p-01 span{
    font-size: 90px; 
    color:#13E5C0   
}
.logo-h3-p-01 h3{
    font-size:25px ;
}

.logo-h3-p-02{
    text-align: center;
}
.logo-h3-p-02 span{
    font-size: 90px; 
    color:#13E5C0
}
.logo-h3-p-02 h3{
    font-size:25px ;
}

.logo-h3-p-03 {
    text-align: center;
}
.logo-h3-p-03 span{
    font-size: 90px; 
    color:#13E5C0
}
.logo-h3-p-03 h3{
    font-size:25px ;
}

.second-div{
    display: flex;
    gap: 120px;
    justify-content: center;
   margin-top: -250px;
}

.image-2 img{
    height: 500px;
    width: auto;
    padding-left: 100px;
    
}
.third-div{
    display: flex;
    gap: 80px;
    padding-top: 150px;
}

.five-logo-div{
    display: flex;
    gap: 15px;
    
}
.logo-one span{
    font-size:45px;
    color: #13E5C0;
    border: 2px dashed black;
    border-radius: 50px;
}
.logo-two span{
    font-size:45px;
    color: #13E5C0;
    border: 2px dashed black;
    border-radius: 50px;
}
.logo-three span{
    font-size:45px;
    color: #13E5C0;
    border: 2px dashed black;
    border-radius: 50px;
}

.logo-four span{
    font-size:45px;
    color: #13E5C0;
    border: 2px dashed black;
    border-radius: 50px;
}

.logo-five span{
    font-size:45px;
    color: #13E5C0;
    border: 2px dashed black;
    border-radius: 50px;
}
.h3-h4-p-text-div h3{
    font-size: 22px;
    margin-top: 40px;
    
}
.h3-h4-p-text-div h4{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.arrow-text-1 span{
    font-size:25px;
    background-color: #C6FFE0;
    color: black;
    border: 1px dashed black;
    border-radius: 50px;
}

.arrow-text-2 span{
    font-size:25px;
    background-color: #C6FFE0;
    color: black;
    border: 1px dashed black;
    border-radius: 50px;
}

.div-conteiner{
    margin-top: 100px;

}

.arrow-text-1{
    display: flex;
    gap: 15px;
}

.arrow-text-2{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.arrow-section{
    margin-top: 30px;
}

.sub-header{
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
}

.textes-logo button{
    background-color:#13E5C0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom:15px;
    border: 2px solid #13E5C0 ; 
    border-radius: 5px;
    margin-left: 20px;
    font-size: 17px;
    cursor: pointer;
}

.logo-six span{
    font-size: 150px; 
    color:#13E5C0 ;
    padding-left: 180px;
    padding-top: 50px;
    
      
}

.textes-logo h3{
    font-size: 28px;
    padding-top: 30px;
    padding-left: 15px;
   
}
.textes-logo p{
    font-size: 18px;
    padding-top: 20px;
    padding-left:15px;
    
}
.textes-logo button{
   margin-bottom: 30px;
   margin-top: 20px;
   margin-right: 30px;
   cursor: pointer;
}
.div-fouth{
    display: flex;
    gap:300px;
    border: 3px dashed black;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
   margin-bottom: 50px;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.sub-heading-text h2{
     font-size:60px;
     color: #19303D;
}
.sub-heading-text p{
    font-size:22px;
    color: #19303D;
}
.sub-heading-text {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 150px;
}

.h3-p-logo-conteiner {
    background-color: #19303D;
    color: white;
    height: 500px;
    width: 600px;
    padding-left: 35px;
    padding-top: 20px;
    border-radius: 10px;
    margin-left: 100px;
    padding-right: 20px;
    margin-right: 20px;
}

.h3-p-logo-conteiner h3{
        font-size: 30px;
        padding-bottom: 20px;
        
}
.h3-p-logo-conteiner p{
    font-size: 18px;
}
.h3-p-logo-conteiner button{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.h3-p-logo-conteiner button{
   display: flex;
   margin-top: 20px;
   color: white;
   background-color:#19303D;
    border: 2px solid #19303D ;
    cursor: pointer;
}

.h3-p-logo-conteiner-2{
    height: 195px;
    width: 600px;
    border: 2px dashed black;
    border-radius: 8px;
    padding: 20px;
}

.h3-p-logo-conteiner-2 div{
    text-align: end;
    font-size: 50px;

}
.h3-p-logo-conteiner-2 h3{
    font-size: 30px;
    
}

.h3-p-logo-conteiner-2 p {
    font-size: 18px;
    padding-top: 30px;
    
}

.h3-p-logo-conteiner-2 div button{
    font-size:10px;
    background-color: #19303D ;
    color:white;
    border: 1px solid black;
    border-radius: 80%;
    margin-right: 10px;
    cursor: pointer;
}

.h3-p-logo-conteiner-3{
    height: 195px;
    width: 600px;
    border: 2px dashed black;
    margin-top: 40px;
    border-radius: 8px;
    padding: 20px;
}

.h3-p-logo-conteiner-3 div{
    text-align: end;
    font-size: 50px;
    
   

}

.h3-p-logo-conteiner-3 h3{
    font-size: 30px;
}
.h3-p-logo-conteiner-3 p{
    font-size: 18px;
    padding-top: 30px;
}

.h3-p-logo-conteiner-3 div button{
    font-size:10px;
    background-color: #19303D ;
    color:white;
    border: 1px solid black;
    border-radius: 80%;
    margin-right: 10px;
    cursor: pointer;
   
}

.fifth-div{
    display: flex;
    gap: 20px;
    margin-bottom: 100px;

}
.six-div-button button {
    background-color:#13E5C0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom:15px;
    border: 2px solid #13E5C0 ; 
    border-radius: 5px;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom:10 px;
    cursor: pointer;
}
.six-div h3{
    font-size:60px ;
    color: white;
    padding-top: 100px;

}
.six-div p{
    font-size: 20px;
    color: white;
    padding-top: 50px;
}
.six-div-img img{
       height: 500px;
       width: auto;
       border-radius: 15px;
       margin-top: 50px;
}
.six-div{
    text-align: center;
    background-color: #19303D;
    padding-bottom: 100px;
    
}

/* section-1 */

.section-Framework {
    align-items: center;
    margin-top: 100px;
}

.section-Framework h2{
     font-size: 65px;
     text-align: center;
}

.section-15min{
    height: 150px;
    width: 350px;
    border: 2px dashed black;
    margin-top: 60px;
    border-radius: 8px;
    padding: 20px;
}
.section-15min h3{
    font-size: 62px;
}
.section-15min p{
    font-size: 18px;
    padding-top: 30px;
}
.main-section-15min{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 200px;
}
 
/* section-2 */

.section-Our-Team {
    align-items: center;
    margin-top: 100px;
}

.section-Our-Team-font h2{
     font-size: 62px;
     text-align: center;
}

.section-Our-Team-font p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.section-term h3{
    font-size: 20px;
    color: white;
}
.section-term p{
    font-size: 18px;
    padding-top: 5px;
    color: white;
}
.main-section-term{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}

.img-term-one img{
      height: 300px;
      width: 290px;
      border: 2px dashed black;
      margin-top: 60px;
      border-radius: 8px;
}
.term-logo span{
    font-size: 40px;
    background-color: #13E5C0;
    border-radius: 50%;  
}

.term-rotted{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    margin-top: -100px;
}